:root {
  --primary: #b4a3f4;
  --lightgray: #f3f4fa;
  --gray: #dfe0e5;
  --darkgray: #aeaeae;
  --red: #ff3b3f;
  --green: #44b77b;
}

.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
}